.object__contener{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;

}
@media (max-width: 600px) {
   .object__contener{
      
      grid-template-columns: 100%;
      
   }
}

.object {
   max-width: 380px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
   justify-content: space-between;
}

.object__status {
   position: absolute;
   top: 15px;
   left: 15px;
}
.object__favorites {
   position: absolute;
   top: 15px;
   right: 15px;
}

.object__img {
   width: 380px;
   height: 200px;
   border: 1px solid #eaebee;
   border-radius: 10px;
   flex-shrink: 0;
}
.object__img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.object__price {
   font-weight: 700; 
   line-height: 24px;
}
.object__address {
   color: #418ccf;
   font-weight: 700;
   line-height: 27px;
}
/*меторосторосположение*/
.object__district {
   color: #112b42;
   font-size: 14px;
   line-height: 22px;
   margin-top: 5px;
}

.object__district > ul {
   display: flex;
   flex-wrap: wrap;
}
.object__district > ul > li {
   display: flex;
   align-items: center;
   margin-right: 20px;
}

.sticker {
   margin-right: 10px;
}
/*меторосторосположение --and*/

/*опции*/
.object__options {
   color: #112b42;
   font-size: 14px;
   line-height: 21px;
}
.object__options > ul {
   display: flex;
   flex-wrap: wrap;
}
.object__options > ul > li {
   margin-right: 10px;
   display: flex;
   align-items: center;
}

.object__options li::after {
   content: "";
   display: inline-block;
   width: 4px;
   height: 4px;
   border-radius: 50%;
   margin-left: 10px;
   background-color: #d4d7d9;
}
.object__options li:last-child {
}
/*опции--and*/

.object__btn {
   background: linear-gradient(90deg, #f74c54 0%, #ff7f4e 100%);
   padding: 8px 15px;
   display: inline-block;
   border-radius: 12px;
   margin-top: 15px;
   color: #ffffff;
   font-size: 16px;
   font-weight: 600;
   line-height: 22px;
   text-align: left;
}

.sticker_btn {
   margin-right: 5px;
}

@media (max-width: 600px) {
   .object {
      max-width: 330px;      
   }

   .object__img {
      width: 330px;      
}
}